In [ ]:
##########################################################################################
#                                                                                        #
#  888888b.  8888888 .d88888b.   .d8888b.     .d8888b.   .d8888b.      d8888      d8888  #
#  888  "88b   888  d88P" "Y88b d88P  Y88b   d88P  Y88b d88P  Y88b    d8P888     d8P888  #
#  888  .88P   888  888     888 Y88b.        888        888          d8P 888    d8P 888  #
#  8888888K.   888  888     888  "Y888b.     888d888b.  888d888b.   d8P  888   d8P  888  #
#  888  "Y88b  888  888     888     "Y88b.   888P "Y88b 888P "Y88b d88   888  d88   888  #
#  888    888  888  888     888       "888   888    888 888    888 8888888888 8888888888 #
#  888   d88P  888  Y88b. .d88P Y88b  d88P   Y88b  d88P Y88b  d88P       888        888  #
#  8888888P" 8888888 "Y88888P"   "Y8888P"     "Y8888P"   "Y8888P"        888        888  #
#                                                                                        # 
##########################################################################################
#
# CSV Metabolomics Data Wrangling
#
##########################################################################################

In [ ]:
##########################################################################################
#                                                                                        #
#  888888b.  8888888 .d88888b.   .d8888b.     .d8888b.   .d8888b.      d8888      d8888  #
#  888  "88b   888  d88P" "Y88b d88P  Y88b   d88P  Y88b d88P  Y88b    d8P888     d8P888  #
#  888  .88P   888  888     888 Y88b.        888        888          d8P 888    d8P 888  #
#  8888888K.   888  888     888  "Y888b.     888d888b.  888d888b.   d8P  888   d8P  888  #
#  888  "Y88b  888  888     888     "Y88b.   888P "Y88b 888P "Y88b d88   888  d88   888  #
#  888    888  888  888     888       "888   888    888 888    888 8888888888 8888888888 #
#  888   d88P  888  Y88b. .d88P Y88b  d88P   Y88b  d88P Y88b  d88P       888        888  #
#  8888888P" 8888888 "Y88888P"   "Y8888P"     "Y8888P"   "Y8888P"        888        888  #
#                                                                                        # 
##########################################################################################
#
# Slicing and Parsing
#
##########################################################################################

In [ ]:
##################################################################################################################
#
# YouDo:
#    1) Make a copy of this notebook with your name as a suffix:  
#       BIOS6644_CSV_Sugar_Metabolomics_FirstLast.ipynb
#    2) Do all work in this new notebook.
#    3) Place completed work in students/Module_1/Your_Name/
#    4) Push to your branch on GitHub to submit
#
##################################################################################################################

# Wrangling Sugar Metabolomics Data

In [ ]:

import pandas as pd
import pylab as plt
import numpy as np
%matplotlib notebook

/var/folders/lt/fpvz1f3j6wgf7hzmdnzyb6440000gn/T/ipykernel_22939/1440839625.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [ ]:


# General info here:
#   https://data.mendeley.com/datasets/9z7ncwvxnz/1
#
# Data here:
#   https://prod-dcd-datasets-cache-zipfiles.s3.eu-west-1.amazonaws.com/9z7ncwvxnz-1.zip

# I renamed mine to "sugar_metabolomics.csv" so I could remember what it is
data = '/Users/joannagarcia/Desktop/BIOS6644_Spring_2024/Modules/Module_1/data/sugar_metabolomics.csv'

In [ ]:
##################################################################################################################
#
# YouDo:
# 
#    1) Read the csv into a dataframe called df
#######################################  BEGIN STUDENT CODE  #####################################################

# 1) 
df = pd.read_csv('/Users/joannagarcia/Desktop/BIOS6644_Spring_2024/Modules/Module_1/data/sugar_metabolomics.csv')
    # reading the CSV in as a data frame (df) - df not required, just easy to remember/

#######################################   END STUDENT CODE   #####################################################


df

,Unnamed: 0,Label,Pyruvate,MethylSuccinate,Phosphoglyceric Acid,Glucose 1-phosphate,Malonic Acid,Fumaric Acid,Alpha-Ketoglutaric Acid,Sarcosine,...,3-Hydroxybenzoic acid,Succinate,Glucose,V127,V128,V129,V130,V131,V132,V133
0,20,0,14.158545,15.624522,13.383600,11.923638,13.933560,12.787696,14.981440,11.739484,...,3.161390,2.165842,8.310291624,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,24,0,14.180287,15.325665,13.468363,12.046294,13.043221,12.536227,14.593418,11.833211,...,2.355910,2.260621,8.423733003,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,29,0,13.921329,16.156867,14.615061,13.051929,13.381985,12.419600,14.701978,12.232070,...,2.472365,2.295447,8.357070943,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,52,0,13.785605,15.939535,13.206615,12.342156,12.448068,12.211098,14.860913,11.949448,...,1.844567,2.278589,8.414503996,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,54,0,13.674234,15.743668,11.542008,11.807872,14.582068,11.635154,14.970451,11.457569,...,3.773262,2.136011,8.193979575,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,100,1,13.911391,15.808535,13.255651,12.072060,12.829308,12.518926,14.914205,12.009783,...,2.099744,2.460060,8.268259167,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89,101,1,14.004190,15.578057,15.050097,12.955338,12.021058,12.698247,14.838858,11.864216,...,1.215855,2.716850,8.382160574,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90,102,1,13.782098,15.628488,13.800509,12.324283,13.557521,13.930284,15.010427,11.877001,...,2.567097,2.339410,8.362964723,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91,103,1,13.841570,15.697214,14.467861,12.549533,13.157717,14.309882,14.518098,12.173317,...,1.637428,2.147184,8.379107727,NaN,NaN,NaN,NaN,NaN,NaN,NaN
92,104,1,13.621706,15.483609,14.060104,12.237578,13.847064,13.140827,14.923120,12.129161,...,3.024477,2.641430,"8.477305855""""""""""""""""","""""""""""""""""NA""""""""""""""""","""""""""""""""""NA""""""""""""""""","""""""""""""""""NA""""""""""""""""","""""""""""""""""NA""""""""""""""""","""""""""""""""""NA""""""""""""""""","""""""""""""""""NA""""""""""""""""","""""""""""""""""0"""""""""""""""""

In [ ]:
##################################################################################################################
#
# YouDo:
# 
#    1) Notice that the import is wonky -- examine the data set
#       manually and figure out how to make it import cleanly.
#      
#       Ensure your data frame has the following handled correctly
#         a) the column names (1st row of the csv)
#.        b) The unlabeled first column is read as an index
#         c) The final row is totally weird--don't import it
#
#       (hint: pd.read_csv? lists various import options)
#
#######################################  BEGIN STUDENT CODE  #####################################################

# 1) 
#pd.read_csv?
df = pd.read_csv('/Users/joannagarcia/Desktop/BIOS6644_Spring_2024/Modules/Module_1/data/sugar_metabolomics.csv')

print(f"Column Names:  {df.columns}")

df= pd.read_csv("/Users/joannagarcia/Desktop/BIOS6644_Spring_2024/Modules/Module_1/data/sugar_metabolomics.csv", usecols =[i for i in df if i != "V133"])


df.set_index('Unnamed: 0', inplace=True)

df

#######################################   END STUDENT CODE   #####################################################
assert df.shape == (92, 132)

Column Names:  Index(['Unnamed: 0', 'Label', 'Pyruvate', 'MethylSuccinate',
       'Phosphoglyceric Acid', 'Glucose 1-phosphate', 'Malonic Acid',
       'Fumaric Acid', 'Alpha-Ketoglutaric Acid', 'Sarcosine',
       ...
       '3-Hydroxybenzoic acid', 'Succinate', 'Glucose', 'V127', 'V128', 'V129',
       'V130', 'V131', 'V132', 'V133'],
      dtype='object', length=133)

AssertionError:

In [ ]:
##################################################################################################################
#
# YouDo:
# 
#    1) Get rid of any columns that have only NaN values
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.dropna.html
#
#######################################  BEGIN STUDENT CODE  #####################################################



#######################################   END STUDENT CODE   #####################################################

assert df.shape == (92, 125)

AssertionError:

In [ ]:
##################################################################################################################
#
# YouDo:
# 
#    1) Generate boxplots of Tryptophan levels separated based on 
#        the "Label" value
#
#      Use whatever plotting library you like.   
#      Hint 1: matplotlib has a boxplot tool
#          help(plt.boxplot)
#      Hint 2: pandas data frames have a built-in boxplot tool
#          help(df.boxplot)
#
#######################################  BEGIN STUDENT CODE  #####################################################


#######################################   END STUDENT CODE   #####################################################

In [ ]:
##################################################################################################################
#
# YouDo:
# Make a pair of plots as follows:
#    1) Show the correlation matrix between columns of the data
#        (hint 1: it should be 124x124, hint 2: check out plt.imshow() 
#         Hint 2: numpy has a function for generating the correlation matrix)
#
#    2) Make a similar plot showing correlation > 90%
#
#  Stretch goal:  using plt.subplot()  make a single figure with both plots side-by-side
#
#######################################  BEGIN STUDENT CODE  #####################################################



#######################################   END STUDENT CODE   #####################################################

In [ ]:
##################################################################################################################
#
# YouDo:
#  1) Remove any rows with na values
# 
#  2) Split the data into "test" and "train" bits with ~30% in the test set.
#       The "Label" column is the "y" data.  All other columns are the "X" data
#       Give them these names:
#       X_train, X_test, y_train, y_test

#######################################  BEGIN STUDENT CODE  #####################################################

# 1)


 
#2)

#######################################   END STUDENT CODE   #####################################################

In [ ]:
#Build a model to classify the Label based on the other columns

from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(n_estimators=100, max_depth=2, random_state=8675309)
clf.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=2, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=8675309,
                       verbose=0, warm_start=False)

In [ ]:
# Test the model
predictions = clf.predict(X_test)
reality = y_test

In [ ]:
# YouDo:
#  1) Evaluate the "goodness" of the predictions and write a paragraph describing the results as a markdown.
#
#######################################  BEGIN STUDENT CODE  #####################################################


#######################################   END STUDENT CODE   #####################################################

0.8125

# Analysis
It goes here.