In [1]:
# first try at a python notebook M0_Python_Refresher_FirstLast
# String Test
s1 = 'This is a string'
s2 = "Double-quotes and single-quotes are equivalent"
s3 = '''This kind can span 
        many lines'''

print(s1)
print(s2) 
print(s3)

This is a string
Double-quotes and single-quotes are equivalent
This kind can span
        many lines

In [2]:
# Adding Strings
L1 = 'Luke. '
L2 = 'I am your father.'
print(L1+L2)

LAdd = L1 + L2

print(LAdd)

Luke. I am your father.
Luke. I am your father.

In [3]:
#99 bottles
B0 = '99'
B1 = '98'
B2 = ' bottles of beer'
B3 = ' on the wall'
B4 = 'you take one down, pass it around'

print(B0+B2+B3)
print('\t'+B0+B2)           # '\t' is a tab character
print(B4+'\n'+'\t'+B0+B2+B3)# '\n' is a newline character

99 bottles of beer on the wall
	99 bottles of beer
you take one down, pass it around
	99 bottles of beer on the wall

In [4]:
# 98 bottles
B0 = '99'
B1 = '98'
B5 = '97'
B2 = ' bottles of beer'
B3 = ' on the wall'
B4 = 'you take one down, pass it around'

print(B1+B2+B3)
print('\t'+B1+B2)           # '\t' is a tab character
print(B4+'\n'+'\t'+B5+B2+B3)# '\n' is a newline character

98 bottles of beer on the wall
	98 bottles of beer
you take one down, pass it around
	97 bottles of beer on the wall

In [5]:
#Integers

A = 3        # type is inferred by lack of decimal point
B = int(3)   # explicitly typed
C = int('3') # Casting a numeral/string 3, to the integer value of 3

print(A, B, C)

3 3 3

In [6]:
# computing answer=12
two = 2
three = 3

answer = (two * three) + (2 * three)
print(answer)

12

In [7]:
# integer '2' was added incorrectly, could judt be 2. added parenthesis to stress order of operations/see if it broke answer formula

In [8]:
# Floats
# The type() function will tell you what type a data object is

F0 = 3           # Not a float!
print('F0: ', F0, type(F0))

F1 = float(3)    # Cast to a float!
print('F1: ', F1, type(F1))

F2 = 3 + 0.0     # Added to a float
print('F2: ', F2, type(F2))

F3 = 3.         # A dot on the end makes it a float
print('F3: ', F3, type(F3))

F4 = 3.000      # So does adding decimapl places
print('F4: ', F4, type(F4))

F5 = 1e6-999997 # Scientific notation is a float as well
print('F5: ', F5, type(F5))

F6 = float('inf') # infinity is a float
print('F6: ', F6, type(F6))
#print(F6 + 1)

F7 = float('NaN') # not a number (nan) is a float, too
print('F7: ', F7, type(F7))

F0:  3 <class 'int'>
F1:  3.0 <class 'float'>
F2:  3.0 <class 'float'>
F3:  3.0 <class 'float'>
F4:  3.0 <class 'float'>
F5:  3.0 <class 'float'>
F6:  inf <class 'float'>
F7:  nan <class 'float'>

In [9]:
# make your own float 9.0
F0 = 9.         # A dot on the end makes it a float
print('F0: ', F0, type(F0))

F0:  9.0 <class 'float'>

In [10]:
#single character test, get 9.0
two = 2
three = 3. # tried adding a decimal

answer = two * three + three
print('My answer is: ', answer, ' of type ', type(answer))

My answer is:  9.0  of type  <class 'float'>

In [11]:
#Booleans
N1 = True   # Equivalent to 1 in some contexts
N2 = False  # Equivalent to 0 in some contexts

print(N1, N2)

True False

In [12]:
#Logic opperations with print funciton
print('True AND False = False')
print(N1 & N2) # You can do logic operations on booleans

print('\nTrue OR False = True')
print(N1 | N2) # You can do logic operations on booleans

True AND False = False
False

True OR False = True
True

In [13]:
#bools and integers
# If you add bools, they behave like integers
somebools=[True, True, True, False, True]

print(f'The list has {sum(somebools)} True values')
print(f'The list is {sum(somebools)/len(somebools)*100}% True values')

The list has 4 True values
The list is 80.0% True values

In [14]:
#Lists
darf = [True,2,3,4,'five'] # Lists hold stuff

print(darf[2])  # brackets read a value out (counting starts at zero)

# Use .append(newthing) to add a newthing to the list
darf.append("I am new thing")

print(darf)

3
[True, 2, 3, 4, 'five', 'I am new thing']

In [15]:

# You can get a "slice" (subset) of list items with a colon:

print(darf[3:5]) # Get objects 3 and 4 (doens't include the last one)

[4, 'five']

In [16]:
##################################################################################################################
#
# YouDo:
#    1) print the slice of worklist which contains all the items which begin with 3 and no other itemts
#       [30, 32, ..., 38]
#
##################################################################################################################

worklist = list(range(0,50,2))
print(f'Original worklist: {worklist}')

#######################################  BEGIN STUDENT CODE  #####################################################

myslice = worklist[0:4]

print(f'Thirties Subset: {myslice}')



#######################################   END STUDENT CODE   ##################################################

Original worklist: [0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]
Thirties Subset: [0, 2, 4, 6]

In [17]:
#dictionaries
# Dictionaries are a key-based map of objects.   

dex = dict()
dex['AllMonths']=['January', 'February', 'March']
dex['Jan']='January'
dex['jan']='January'
dex['JAN']='January'
dex['jan.']='January'
dex['Feb']='February'
dex['Mar']='March'
dex

{'AllMonths': ['January', 'February', 'March'],
 'Jan': 'January',
 'jan': 'January',
 'JAN': 'January',
 'jan.': 'January',
 'Feb': 'February',
 'Mar': 'March'}

In [18]:
# You can use them to make a lookup table

print(f'I was not born in Jan')
print(f"I was not born in {dex['Jan']}")
print(f"I was not born in {dex['AllMonths']}")

I was not born in Jan
I was not born in January
I was not born in ['January', 'February', 'March']