In [ ]:
##########################################################################################
#                                                                                        #
#  888888b.  8888888 .d88888b.   .d8888b.     .d8888b.   .d8888b.      d8888      d8888  #
#  888  "88b   888  d88P" "Y88b d88P  Y88b   d88P  Y88b d88P  Y88b    d8P888     d8P888  #
#  888  .88P   888  888     888 Y88b.        888        888          d8P 888    d8P 888  #
#  8888888K.   888  888     888  "Y888b.     888d888b.  888d888b.   d8P  888   d8P  888  #
#  888  "Y88b  888  888     888     "Y88b.   888P "Y88b 888P "Y88b d88   888  d88   888  #
#  888    888  888  888     888       "888   888    888 888    888 8888888888 8888888888 #
#  888   d88P  888  Y88b. .d88P Y88b  d88P   Y88b  d88P Y88b  d88P       888        888  #
#  8888888P" 8888888 "Y88888P"   "Y8888P"     "Y8888P"   "Y8888P"        888        888  #
#                                                                                        # 
##########################################################################################
#
# Wrangling Mid-term Exam, Spring 2024
#
##########################################################################################

# Instructions
1. Save this notebook with the following filename:  YourName_BIOS6644_Exam_2024.ipynb
2. Submit completed notebook via Canvas

# Fetch Data Sets
1. Arms Imports 
    - https://armstransfers.sipri.org/ArmsTransfer/ImportExportTop
        
        Selections
        * Years:  2000-2024
        * Report with: Imported weapons
        * Break down by new, second hand, second hand but modernized: On
        * Show top X suppliers/recipients: Empty
        * Show percentage change from previous period: On

  
2. World Population Facts 
    - https://www.openintro.org/data/index.php?data=cia_factbook
        * CSV File

In [1]:
################################################################################
################################################################################
# YouDo
################################################################################
################################################################################
#
# 1) Attempt to download both of these data sets using the given selection 
#    criteria.
#    
#    Save them with the filenames:
#     1) YourName_import-export-values_2000-2024.csv
#     2) YourName_cia_factbook.csv
#
#  2) Verify that the files you download are identical (or nearly identical) 
#     to the data files provided in the repository
#       
#     I would expect them to be the same, but describe any differences you
#     discover 
#

Differences between files provided and files retrieved:

*Put any differences here*

# Import Arms Data Set
Use provided data sets (not the ones you fetched)

In [2]:
#  For uniformity in grading, use the provided files for this analysis 
#  (not the ones you fetched!)   
#  ^^^^^^^^^^^^^^^^^^^^^^^^^^^^

In [3]:
################################################################################
################################################################################
# YouDo
################################################################################
################################################################################
#
# Import the arms transfer data into a dataframe named arms_df
#
###############################################################################

###############################################################################
# Begin Student Code
#------------------------------------------------------------------------------
import pandas as pd
armsf = './import-export-values_2000-2024.csv'
arms_df = pd.read_csv(armsf, skiprows=9)


#------------------------------------------------------------------------------
# End Student Code
###############################################################################

In [4]:
assert arms_df.shape==(208,30)
assert type(arms_df)==pd.DataFrame

# Import the Populations Data Set

In [6]:
################################################################################
################################################################################
# YouDo
################################################################################
################################################################################
#
# Import the population data into a dataframe named pop_df
#
###############################################################################

###############################################################################
# Begin Student Code
#------------------------------------------------------------------------------
popf = './cia_factbook.csv'
pop_df = pd.read_csv(popf, skiprows=0)
#pop_df[['country','population']]
pop_df
#------------------------------------------------------------------------------
# End Student Code
###############################################################################

,country,area,birth_rate,death_rate,infant_mortality_rate,internet_users,life_exp_at_birth,maternal_mortality_rate,net_migration_rate,population,population_growth_rate
0,Russia,17098242.0,11.87,13.83,7.08,40853000.0,70.16,34.0,1.69,1.424703e+08,-0.03
1,Canada,9984670.0,10.29,8.31,4.71,26960000.0,81.67,12.0,5.66,3.483484e+07,0.76
2,United States,9826675.0,13.42,8.15,6.17,245000000.0,79.56,21.0,2.45,3.188921e+08,0.77
3,China,9596960.0,12.17,7.44,14.79,389000000.0,75.15,37.0,-0.32,1.355693e+09,0.44
4,Brazil,8514877.0,14.72,6.54,19.21,75982000.0,73.28,56.0,-0.15,2.026568e+08,0.80
...,...,...,...,...,...,...,...,...,...,...,...
254,Bouvet Island,49.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
255,Palmyra Atoll,12.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
256,Akrotiri,123.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
257,European Union,NaN,NaN,NaN,4.33,NaN,80.02,NaN,NaN,5.114348e+08,NaN
258,Saint Barthelemy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.267000e+03,NaN

In [9]:
assert pop_df.shape==(259,11)
assert type(pop_df)==pd.DataFrame

                               Recipient    2023  population      percap
Recipient
Qatar                              Qatar  1805.0   2123160.0  850.147893
Bahrain                          Bahrain   332.0   1314089.0  252.646510
Kuwait                            Kuwait   434.0   2742711.0  158.237598
Singapore                      Singapore   802.0   5567301.0  144.055441
Israel                            Israel   857.0   7821850.0  109.564873
...                                  ...     ...         ...         ...
Cameroon                        Cameroon     4.0  23130708.0    0.172930
Mozambique                    Mozambique     3.0  24692144.0    0.121496
Colombia                        Colombia     3.0  46245297.0    0.064871
Djibouti                        Djibouti     0.0    810179.0    0.000000
Antigua and Barbuda  Antigua and Barbuda     0.0     91295.0    0.000000

[108 rows x 4 columns]

# PI Questions

1. Which country imported the most (i.e. highest [TIV](https://www.sipri.org/databases/armstransfers/sources-and-methods#TIV-tables)) weaponry in 2023? (Hint: Ensure you reference a specific country, not the world total)

2. Which country imported the most (i.e. highest TIV) weaponry in 2023 *per capita*?

Give brief, clear answers which acknowledge any caveats, nuances, assumptions, or ambiguities.

In [9]:
max_all=arms_df['2023'].argmax()
max_country = arms_df['2023'].drop('Total world import').argmax()
arms_df.iloc[max_country]

#
print(f'Country with most arms imports in 2023: {arms_df.iloc[max_country].Recipient}')

Country with most arms imports in 2023: Ukraine

In [8]:
arms_df.index = arms_df.Recipient
pop_df.index = pop_df.country
mdf = arms_df.join(pop_df)[['Recipient', '2023', 'population']]
mdf['percap'] = mdf['2023'] / mdf.population *1e6
mdf.dropna(inplace=True)
mdf.sort_values('percap',ascending=False, inplace=True)

print(f'Country with highest per-capita arms imports: {mdf.iloc[0].Recipient}')

Country with highest per-capita arms imports: Qatar

## Q1
### Answer goes here.

According to the Stockholm International Peace Research Institute (SIPRI), the country with the the most 
arms imports in 2023 is (unsurprisingly) Ukraine.

SIPRI uses an index to rate the "value" of the arms transfers which is designed to remove the effects of 
inflation, currency exchange rates, etc.   It accounts only for "major" weapons sysems such as air defence, tanks,
etc., and does not attempt to count small arms nor their ammunition.



## Q2
### Answer goes here
According to SIPRI and the CIA World Fact Book, the country with the highest per-capita arms imports in 2023 is Qatar.  
The arms transfer data is sometimes absent for very small countries like small island nations.   It's not clear that 
"no data" is necessarily "no arms transfers."  Since these nations have very small populations, *any* transfers would 
have a very high per-capita value.   These problems are ignored, however, since the intent of this question seems to be
concerned with geopolitically important arms transfers.