In [ ]:
##########################################################################################
#                                                                                        #
#  888888b.  8888888 .d88888b.   .d8888b.     .d8888b.   .d8888b.      d8888      d8888  #
#  888  "88b   888  d88P" "Y88b d88P  Y88b   d88P  Y88b d88P  Y88b    d8P888     d8P888  #
#  888  .88P   888  888     888 Y88b.        888        888          d8P 888    d8P 888  #
#  8888888K.   888  888     888  "Y888b.     888d888b.  888d888b.   d8P  888   d8P  888  #
#  888  "Y88b  888  888     888     "Y88b.   888P "Y88b 888P "Y88b d88   888  d88   888  #
#  888    888  888  888     888       "888   888    888 888    888 8888888888 8888888888 #
#  888   d88P  888  Y88b. .d88P Y88b  d88P   Y88b  d88P Y88b  d88P       888        888  #
#  8888888P" 8888888 "Y88888P"   "Y8888P"     "Y8888P"   "Y8888P"        888        888  #
#                                                                                        # 
##########################################################################################
#
# Demo for "inplace" arguments in pandas
#
##########################################################################################

In [2]:

#Foreword: functions

def p_hero(input1, invert=False):
    if invert is False:
        return f"{str(input1)} is my hero"
    elif invert is True:
        return f"{str(input1)} is a big stupid head"
    else:
        return None

In [5]:
g = p_hero('Greg')
print(g)

Greg is my hero

In [6]:
s = p_hero('Stanley Dzarnoski')
print(s)

Stanley Dzarnoski is my hero

In [7]:
j = p_hero('James', invert=True)
print(j)

James is a big stupid head

In [8]:
o = p_hero("King Charles", invert='purple')
print(o)

None

# inplace=True vs inplace=False (usually default)

In [9]:

import pandas as pd
import pylab as plt
import numpy as np
%matplotlib notebook

In [15]:
df = pd.DataFrame([[1,2,3],[float('nan'), 2 ,5.],['867', 5309, 'Jenny']])
df

     0     1      2
0    1     2      3
1  NaN     2    5.0
2  867  5309  Jenny

In [11]:
df.dropna?

Signature:
df.dropna(
    *,
    axis: 'Axis' = 0,
    how: 'AnyAll | lib.NoDefault' = <no_default>,
    thresh: 'int | lib.NoDefault' = <no_default>,
    subset: 'IndexLabel | None' = None,
    inplace: 'bool' = False,
    ignore_index: 'bool' = False,
) -> 'DataFrame | None'
Docstring:
Remove missing values.

See the :ref:`User Guide <missing_data>` for more on which values are
considered missing, and how to work with missing data.

Parameters
----------
axis : {0 or 'index', 1 or 'columns'}, default 0
    Determine if rows or columns which contain missing values are
    removed.

    * 0, or 'index' : Drop rows which contain missing values.
    * 1, or 'columns' : Drop columns which contain missing value.

    Only a single axis is allowed.

how : {'any', 'all'}, default 'any'
    Determine if row or column is removed from DataFrame, when we have
    at least one NA or all NA.

    * 'any' : If any NA values are present, drop that row or column.
    * 'all' : If all values are NA, drop that row or column.

thresh : int, optional
    Require that many non-NA values. Cannot be combined with how.
subset : column label or sequence of labels, optional
    Labels along other axis to consider, e.g. if you are dropping rows
    these would be a list of columns to include.
inplace : bool, default False
    Whether to modify the DataFrame rather than creating a new one.
ignore_index : bool, default ``False``
    If ``True``, the resulting axis will be labeled 0, 1, â€¦, n - 1.

    .. versionadded:: 2.0.0

Returns
-------
DataFrame or None
    DataFrame with NA entries dropped from it or None if ``inplace=True``.

See Also
--------
DataFrame.isna: Indicate missing values.
DataFrame.notna : Indicate existing (non-missing) values.
DataFrame.fillna : Replace missing values.
Series.dropna : Drop missing values.
Index.dropna : Drop missing indices.

Examples
--------
>>> df = pd.DataFrame({"name": ['Alfred', 'Batman', 'Catwoman'],
...                    "toy": [np.nan, 'Batmobile', 'Bullwhip'],
...                    "born": [pd.NaT, pd.Timestamp("1940-04-25"),
...                             pd.NaT]})
>>> df
       name        toy       born
0    Alfred        NaN        NaT
1    Batman  Batmobile 1940-04-25
2  Catwoman   Bullwhip        NaT

Drop the rows where at least one element is missing.

>>> df.dropna()
     name        toy       born
1  Batman  Batmobile 1940-04-25

Drop the columns where at least one element is missing.

>>> df.dropna(axis='columns')
       name
0    Alfred
1    Batman
2  Catwoman

Drop the rows where all elements are missing.

>>> df.dropna(how='all')
       name        toy       born
0    Alfred        NaN        NaT
1    Batman  Batmobile 1940-04-25
2  Catwoman   Bullwhip        NaT

Keep only the rows with at least 2 non-NA values.

>>> df.dropna(thresh=2)
       name        toy       born
1    Batman  Batmobile 1940-04-25
2  Catwoman   Bullwhip        NaT

Define in which columns to look for missing values.

>>> df.dropna(subset=['name', 'toy'])
       name        toy       born
1    Batman  Batmobile 1940-04-25
2  Catwoman   Bullwhip        NaT
File:      ~/Library/Python/3.9/lib/python/site-packages/pandas/core/frame.py
Type:      method

In [12]:
# This returns the dataframe without na rows
# but doesn't alter the underlying df

rtn = df.dropna(inplace=False)
print(f'Returned with "inplace=False":\n {rtn}')
print('\n')
print(f'Contents of df: \n{df}')

Returned with "inplace=False":
      0     1      2
0    1     2      3
2  867  5309  Jenny


Contents of df:
     0     1      2
0    1     2      3
1  NaN     2    5.0
2  867  5309  Jenny

In [13]:

rtn2 = df.dropna(inplace=True)
print(f'Returned with "inplace=True":\n {rtn2}')
print('\n')
print(f'Contents of df: \n{df}')

Returned with "inplace=True":
 None


Contents of df:
     0     1      2
0    1     2      3
2  867  5309  Jenny

In [16]:

df = df.dropna()

In [17]:
df

     0     1      2
0    1     2      3
2  867  5309  Jenny

In [18]:
'Greg'.startswith('J')

False

In [19]:
def noreturn(a):
    print(a)

In [21]:
blurb = noreturn('Greg is my hero')

Greg is my hero

In [23]:
type(blurb)

NoneType

In [25]:
b=None
b

In [27]:
float(3)

3.0

In [30]:
float('nan')+3

nan

In [29]:
type(float('nan'))

float

In [31]:
float('inf')

inf

In [32]:
float('-inf')

-inf

In [34]:
float('-inf')+float('inf')

nan