In [ ]:
##########################################################################################
#                                                                                        #
#  888888b.  8888888 .d88888b.   .d8888b.     .d8888b.   .d8888b.      d8888      d8888  #
#  888  "88b   888  d88P" "Y88b d88P  Y88b   d88P  Y88b d88P  Y88b    d8P888     d8P888  #
#  888  .88P   888  888     888 Y88b.        888        888          d8P 888    d8P 888  #
#  8888888K.   888  888     888  "Y888b.     888d888b.  888d888b.   d8P  888   d8P  888  #
#  888  "Y88b  888  888     888     "Y88b.   888P "Y88b 888P "Y88b d88   888  d88   888  #
#  888    888  888  888     888       "888   888    888 888    888 8888888888 8888888888 #
#  888   d88P  888  Y88b. .d88P Y88b  d88P   Y88b  d88P Y88b  d88P       888        888  #
#  8888888P" 8888888 "Y88888P"   "Y8888P"     "Y8888P"   "Y8888P"        888        888  #
#                                                                                        # 
##########################################################################################
#
# Demo for "inplace" arguments in pandas
#
##########################################################################################

In [16]:

#Foreword: functions

def p_hero(input1, invert=False):
    if invert is False:
        return f"{str(input1)} is my hero"
    elif invert is True:
        return f"{str(input1)} is a big stupid head"
    else:
        return None

In [17]:
g = p_hero('Greg')
print(g)

'Greg is my hero'

In [18]:
s = p_hero('Stanley Dzarnoski')
print(s)

'Stanley Dzarnoski is my hero'

In [19]:
j = p_hero('James', invert=True)
print(j)

'James is a big stupid head'

In [21]:
o = p_hero("King Charles", invert='purple')
print(o)

None

# inplace=True vs inplace=False (usually default)

In [2]:

import pandas as pd
import pylab as plt
import numpy as np
%matplotlib notebook

In [3]:
df = pd.DataFrame([[1,2,3],[float('nan'), 2 ,5.],['867', 5309, 'Jenny']])
df

     0     1      2
0    1     2      3
1  NaN     2    5.0
2  867  5309  Jenny

In [16]:
# This returns the dataframe without na rows
# but doesn't alter the underlying df

rtn = df.dropna(inplace=False)
print(f'Returned with "inplace=False":\n {rtn}')
print('\n')
print(f'Contents of df: \n{df}')

Returned with "inplace=False":
      0     1      2
0    1     2      3
2  867  5309  Jenny


Contents of df:
     0     1      2
0    1     2      3
2  867  5309  Jenny

In [13]:

rtn2 = df.dropna(inplace=True)
print(f'Returned with "inplace=True":\n {rtn2}')
print('\n')
print(f'Contents of df: \n{df}')

Returned with "inplace=True":
 None


Contents of df:
     0     1      2
0    1     2      3
2  867  5309  Jenny