In [1]:
import numpy as np
import pandas as pd
import pylab as plt
import datetime as dt
%matplotlib notebook

## Basic form
List comprehensions are a shortcut way to run a for loop

In [2]:
# get some data
iris = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv')
#iris.describe()
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [4]:
# Long-loop way
darf = []  # make an empty list
for xx in iris.species:
    darf.append(xx.upper())
darf

['SETOSA',
 'SETOSA',
 'SETOSA',
 'SETOSA',
 'SETOSA',
 'SETOSA',
 'SETOSA',
 'SETOSA',
 'SETOSA',
 'SETOSA',
 'SETOSA',
 'SETOSA',
 'SETOSA',
 'SETOSA',
 'SETOSA',
 'SETOSA',
 'SETOSA',
 'SETOSA',
 'SETOSA',
 'SETOSA',
 'SETOSA',
 'SETOSA',
 'SETOSA',
 'SETOSA',
 'SETOSA',
 'SETOSA',
 'SETOSA',
 'SETOSA',
 'SETOSA',
 'SETOSA',
 'SETOSA',
 'SETOSA',
 'SETOSA',
 'SETOSA',
 'SETOSA',
 'SETOSA',
 'SETOSA',
 'SETOSA',
 'SETOSA',
 'SETOSA',
 'SETOSA',
 'SETOSA',
 'SETOSA',
 'SETOSA',
 'SETOSA',
 'SETOSA',
 'SETOSA',
 'SETOSA',
 'SETOSA',
 'SETOSA',
 'VERSICOLOR',
 'VERSICOLOR',
 'VERSICOLOR',
 'VERSICOLOR',
 'VERSICOLOR',
 'VERSICOLOR',
 'VERSICOLOR',
 'VERSICOLOR',
 'VERSICOLOR',
 'VERSICOLOR',
 'VERSICOLOR',
 'VERSICOLOR',
 'VERSICOLOR',
 'VERSICOLOR',
 'VERSICOLOR',
 'VERSICOLOR',
 'VERSICOLOR',
 'VERSICOLOR',
 'VERSICOLOR',
 'VERSICOLOR',
 'VERSICOLOR',
 'VERSICOLOR',
 'VERSICOLOR',
 'VERSICOLOR',
 'VERSICOLOR',
 'VERSICOLOR',
 'VERSICOLOR',
 'VERSICOLOR',
 'VERSICOLOR',
 'VERSICOLOR',
 'VERSICOLOR',
 'VERSICOLOR',
 'VERSICOLOR',
 'VERSICOLOR',
 'VERSICOLOR',
 'VERSICOLOR',
 'VERSICOLOR',
 'VERSICOLOR',
 'VERSICOLOR',
 'VERSICOLOR',
 'VERSICOLOR',
 'VERSICOLOR',
 'VERSICOLOR',
 'VERSICOLOR',
 'VERSICOLOR',
 'VERSICOLOR',
 'VERSICOLOR',
 'VERSICOLOR',
 'VERSICOLOR',
 'VERSICOLOR',
 'VIRGINICA',
 'VIRGINICA',
 'VIRGINICA',
 'VIRGINICA',
 'VIRGINICA',
 'VIRGINICA',
 'VIRGINICA',
 'VIRGINICA',
 'VIRGINICA',
 'VIRGINICA',
 'VIRGINICA',
 'VIRGINICA',
 'VIRGINICA',
 'VIRGINICA',
 'VIRGINICA',
 'VIRGINICA',
 'VIRGINICA',
 'VIRGINICA',
 'VIRGINICA',
 'VIRGINICA',
 'VIRGINICA',
 'VIRGINICA',
 'VIRGINICA',
 'VIRGINICA',
 'VIRGINICA',
 'VIRGINICA',
 'VIRGINICA',
 'VIRGINICA',
 'VIRGINICA',
 'VIRGINICA',
 'VIRGINICA',
 'VIRGINICA',
 'VIRGINICA',
 'VIRGINICA',
 'VIRGINICA',
 'VIRGINICA',
 'VIRGINICA',
 'VIRGINICA',
 'VIRGINICA',
 'VIRGINICA',
 'VIRGINICA',
 'VIRGINICA',
 'VIRGINICA',
 'VIRGINICA',
 'VIRGINICA',
 'VIRGINICA',
 'VIRGINICA',
 'VIRGINICA',
 'VIRGINICA',
 'VIRGINICA']

In [7]:
# List-comprehension method 
darflc = [xx.upper() for xx in iris.species]
darflc

['SETOSA',
 'SETOSA',
 'SETOSA',
 'SETOSA',
 'SETOSA',
 'SETOSA',
 'SETOSA',
 'SETOSA',
 'SETOSA',
 'SETOSA',
 'SETOSA',
 'SETOSA',
 'SETOSA',
 'SETOSA',
 'SETOSA',
 'SETOSA',
 'SETOSA',
 'SETOSA',
 'SETOSA',
 'SETOSA',
 'SETOSA',
 'SETOSA',
 'SETOSA',
 'SETOSA',
 'SETOSA',
 'SETOSA',
 'SETOSA',
 'SETOSA',
 'SETOSA',
 'SETOSA',
 'SETOSA',
 'SETOSA',
 'SETOSA',
 'SETOSA',
 'SETOSA',
 'SETOSA',
 'SETOSA',
 'SETOSA',
 'SETOSA',
 'SETOSA',
 'SETOSA',
 'SETOSA',
 'SETOSA',
 'SETOSA',
 'SETOSA',
 'SETOSA',
 'SETOSA',
 'SETOSA',
 'SETOSA',
 'SETOSA',
 'VERSICOLOR',
 'VERSICOLOR',
 'VERSICOLOR',
 'VERSICOLOR',
 'VERSICOLOR',
 'VERSICOLOR',
 'VERSICOLOR',
 'VERSICOLOR',
 'VERSICOLOR',
 'VERSICOLOR',
 'VERSICOLOR',
 'VERSICOLOR',
 'VERSICOLOR',
 'VERSICOLOR',
 'VERSICOLOR',
 'VERSICOLOR',
 'VERSICOLOR',
 'VERSICOLOR',
 'VERSICOLOR',
 'VERSICOLOR',
 'VERSICOLOR',
 'VERSICOLOR',
 'VERSICOLOR',
 'VERSICOLOR',
 'VERSICOLOR',
 'VERSICOLOR',
 'VERSICOLOR',
 'VERSICOLOR',
 'VERSICOLOR',
 'VERSICOLOR',
 'VERSICOLOR',
 'VERSICOLOR',
 'VERSICOLOR',
 'VERSICOLOR',
 'VERSICOLOR',
 'VERSICOLOR',
 'VERSICOLOR',
 'VERSICOLOR',
 'VERSICOLOR',
 'VERSICOLOR',
 'VERSICOLOR',
 'VERSICOLOR',
 'VERSICOLOR',
 'VERSICOLOR',
 'VERSICOLOR',
 'VERSICOLOR',
 'VERSICOLOR',
 'VERSICOLOR',
 'VERSICOLOR',
 'VERSICOLOR',
 'VIRGINICA',
 'VIRGINICA',
 'VIRGINICA',
 'VIRGINICA',
 'VIRGINICA',
 'VIRGINICA',
 'VIRGINICA',
 'VIRGINICA',
 'VIRGINICA',
 'VIRGINICA',
 'VIRGINICA',
 'VIRGINICA',
 'VIRGINICA',
 'VIRGINICA',
 'VIRGINICA',
 'VIRGINICA',
 'VIRGINICA',
 'VIRGINICA',
 'VIRGINICA',
 'VIRGINICA',
 'VIRGINICA',
 'VIRGINICA',
 'VIRGINICA',
 'VIRGINICA',
 'VIRGINICA',
 'VIRGINICA',
 'VIRGINICA',
 'VIRGINICA',
 'VIRGINICA',
 'VIRGINICA',
 'VIRGINICA',
 'VIRGINICA',
 'VIRGINICA',
 'VIRGINICA',
 'VIRGINICA',
 'VIRGINICA',
 'VIRGINICA',
 'VIRGINICA',
 'VIRGINICA',
 'VIRGINICA',
 'VIRGINICA',
 'VIRGINICA',
 'VIRGINICA',
 'VIRGINICA',
 'VIRGINICA',
 'VIRGINICA',
 'VIRGINICA',
 'VIRGINICA',
 'VIRGINICA',
 'VIRGINICA']

Note:  The list comprehension does the work of making and appending the list for you

In [31]:
# open a bigger data set
data = '../data/fifa_players.csv'

df = pd.read_csv(data)
df

,name,full_name,birth_date,age,height_cm,weight_kgs,positions,nationality,overall_rating,potential,...,long_shots,aggression,interceptions,positioning,vision,penalties,composure,marking,standing_tackle,sliding_tackle
0,L. Messi,Lionel Andrés Messi Cuccittini,6/24/1987,31,170.18,72.1,"CF,RW,ST",Argentina,94,94,...,94,48,22,94,94,75,96,33,28,26
1,C. Eriksen,Christian Dannemann Eriksen,2/14/1992,27,154.94,76.2,"CAM,RM,CM",Denmark,88,89,...,89,46,56,84,91,67,88,59,57,22
2,P. Pogba,Paul Pogba,3/15/1993,25,190.50,83.9,"CM,CAM",France,88,91,...,82,78,64,82,88,82,87,63,67,67
3,L. Insigne,Lorenzo Insigne,6/4/1991,27,162.56,59.0,"LW,ST",Italy,88,88,...,84,34,26,83,87,61,83,51,24,22
4,K. Koulibaly,Kalidou Koulibaly,6/20/1991,27,187.96,88.9,CB,Senegal,88,91,...,15,87,88,24,49,33,80,91,88,87
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17949,R. McKenzie,Rory McKenzie,10/7/1993,25,175.26,74.8,"RM,CAM,CM",Scotland,67,70,...,54,69,41,60,64,63,56,40,20,18
17950,M. Sipľak,Michal Sipľak,2/2/1996,23,182.88,79.8,LB,Slovakia,59,67,...,22,62,55,42,39,32,52,53,64,60
17951,J. Bekkema,Jan Bekkema,4/9/1996,22,185.42,89.8,GK,Netherlands,59,67,...,9,27,10,5,25,16,47,9,12,13
17952,A. Al Yami,Abdulrahman Al Yami,6/19/1997,21,175.26,64.9,"ST,LM",Saudi Arabia,59,71,...,58,38,15,54,52,50,53,16,18,17
17953,Júnior Brumado,José Francisco dos Santos Júnior,5/15/1999,19,190.50,79.8,ST,Brazil,59,75,...,53,67,20,53,49,52,45,23,31,21

In [32]:
# Notice the ages are out of date but the birthdays are present
# compute currrent age in a loop
from dateutil import parser 

tic = dt.datetime.now()
ages = []
now = dt.datetime.now()
for bday in df.birth_date:
    pday = parser.parse(bday)
    age = now-pday
    ageyears = age.days//365
    ages.append(ageyears)

toc = dt.datetime.now()
print(f'Elapsed time: {toc-tic} seconds')

Elapsed time: 0:00:00.282168 seconds

In [34]:
tic = dt.datetime.now()
ages=[(now-parser.parse(bday)).days//365 for bday in df.birth_date]
toc = dt.datetime.now()
print(f'Elapsed time: {toc-tic} seconds')

df['CorrectAge']=ages

Elapsed time: 0:00:00.278856 seconds

In [35]:
df

,name,full_name,birth_date,age,height_cm,weight_kgs,positions,nationality,overall_rating,potential,...,aggression,interceptions,positioning,vision,penalties,composure,marking,standing_tackle,sliding_tackle,CorrectAge
0,L. Messi,Lionel Andrés Messi Cuccittini,6/24/1987,31,170.18,72.1,"CF,RW,ST",Argentina,94,94,...,48,22,94,94,75,96,33,28,26,36
1,C. Eriksen,Christian Dannemann Eriksen,2/14/1992,27,154.94,76.2,"CAM,RM,CM",Denmark,88,89,...,46,56,84,91,67,88,59,57,22,32
2,P. Pogba,Paul Pogba,3/15/1993,25,190.50,83.9,"CM,CAM",France,88,91,...,78,64,82,88,82,87,63,67,67,31
3,L. Insigne,Lorenzo Insigne,6/4/1991,27,162.56,59.0,"LW,ST",Italy,88,88,...,34,26,83,87,61,83,51,24,22,32
4,K. Koulibaly,Kalidou Koulibaly,6/20/1991,27,187.96,88.9,CB,Senegal,88,91,...,87,88,24,49,33,80,91,88,87,32
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17949,R. McKenzie,Rory McKenzie,10/7/1993,25,175.26,74.8,"RM,CAM,CM",Scotland,67,70,...,69,41,60,64,63,56,40,20,18,30
17950,M. Sipľak,Michal Sipľak,2/2/1996,23,182.88,79.8,LB,Slovakia,59,67,...,62,55,42,39,32,52,53,64,60,28
17951,J. Bekkema,Jan Bekkema,4/9/1996,22,185.42,89.8,GK,Netherlands,59,67,...,27,10,5,25,16,47,9,12,13,27
17952,A. Al Yami,Abdulrahman Al Yami,6/19/1997,21,175.26,64.9,"ST,LM",Saudi Arabia,59,71,...,38,15,54,52,50,53,16,18,17,26
17953,Júnior Brumado,José Francisco dos Santos Júnior,5/15/1999,19,190.50,79.8,ST,Brazil,59,75,...,67,20,53,49,52,45,23,31,21,24

In [41]:
# Use a list comprehension for row selection
#
# Find all players currently aged 42

fortytwos = [xx==42 for xx in df.CorrectAge ]
df.iloc[fortytwos]

# or just
#df.iloc[[xx==42 for xx in df.CorrectAge]]

,name,full_name,birth_date,age,height_cm,weight_kgs,positions,nationality,overall_rating,potential,...,aggression,interceptions,positioning,vision,penalties,composure,marking,standing_tackle,sliding_tackle,CorrectAge
46,Z. Ibrahimović,Zlatan Ibrahimović,10/3/1981,37,195.58,94.8,ST,Sweden,85,85,...,84,20,85,79,89,90,28,37,24,42
125,Joaquín,Joaquín Sánchez Rodríguez,7/21/1981,37,152.40,74.8,"LM,ST,RM",Spain,81,81,...,53,35,81,85,75,80,41,47,39,42
149,Diego López,Diego López Rodríguez,11/3/1981,37,195.58,88.9,GK,Spain,80,80,...,36,16,11,53,21,62,16,13,14,42
304,R. Palacio,Rodrigo Sebastián Palacio,2/5/1982,37,175.26,69.9,"ST,LW",Argentina,77,77,...,78,39,80,77,79,82,40,33,30,42
981,F. Coloccini,Fabricio Coloccini,1/22/1982,37,182.88,83.0,CB,Argentina,72,72,...,78,69,40,48,58,72,72,72,65,42
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16772,Rafael,Rafael de Andrade Bittencourt Pinheiro,3/3/1982,37,187.96,79.8,GK,Brazil,75,75,...,31,10,12,45,22,60,20,19,17,42
16796,D. Bonera,Daniele Bonera,5/31/1981,37,182.88,83.9,"CB,RB,LB",Italy,75,75,...,79,78,27,41,49,77,82,78,74,42
17651,David Villa,David Villa Sánchez,12/3/1981,37,175.26,68.9,ST,Spain,81,81,...,67,29,86,75,88,83,30,28,38,42
17784,Casillas,Iker Casillas Fernández,5/20/1981,37,185.42,83.9,GK,Spain,83,83,...,23,22,16,62,24,70,24,11,13,42
17787,A. Barzagli,Andrea Barzagli,5/8/1981,37,187.96,87.1,CB,Italy,83,83,...,66,90,28,62,60,88,94,88,80,42

In [43]:
# find players with a letter "Z" in their name
df.loc[['z' in xx.lower()  for xx in df.full_name ]]

,name,full_name,birth_date,age,height_cm,weight_kgs,positions,nationality,overall_rating,potential,...,aggression,interceptions,positioning,vision,penalties,composure,marking,standing_tackle,sliding_tackle,CorrectAge
3,L. Insigne,Lorenzo Insigne,6/4/1991,27,162.56,59.0,"LW,ST",Italy,88,88,...,34,26,83,87,61,83,51,24,22,32
9,E. Cavani,Edinson Roberto Cavani Gómez,2/14/1987,32,185.42,77.1,ST,Uruguay,89,89,...,84,48,93,77,85,82,52,45,39,37
13,A. Griezmann,Antoine Griezmann,3/21/1991,27,175.26,73.0,"CF,ST",France,89,90,...,73,49,91,85,83,89,59,54,48,32
17,Fernandinho,Fernando Luiz Rosa,5/4/1985,33,152.40,67.1,CDM,Brazil,87,87,...,87,89,70,75,61,79,87,86,80,38
18,G. Higuaín,Gonzalo Gerardo Higuaín,12/10/1987,31,185.42,88.9,ST,Argentina,87,87,...,50,20,92,74,70,86,35,22,18,36
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17932,David Silva,David Josué Jiménez Silva,1/8/1986,33,172.72,67.1,"CAM,CM",Spain,90,90,...,57,50,89,92,75,93,59,53,29,38
17938,L. Suárez,Luis Alberto Suárez Díaz,1/24/1987,32,182.88,86.2,ST,Uruguay,91,91,...,87,41,92,84,85,85,62,45,38,37
17940,E. Hazard,Eden Hazard,1/7/1991,28,172.72,76.2,"LW,CF",Belgium,91,91,...,54,41,87,89,86,91,34,27,22,33
17946,A. Rodriguez,Angel Rodriguez,12/2/1992,26,175.26,72.1,"CM,CB",Uruguay,67,67,...,72,65,60,60,55,52,63,64,67,31
17949,R. McKenzie,Rory McKenzie,10/7/1993,25,175.26,74.8,"RM,CAM,CM",Scotland,67,70,...,69,41,60,64,63,56,40,20,18,30

In [49]:
# Find all countries fielding a player a name ending in  "z"
df.loc[[xx.lower()[-1]=='z'  for xx in df.full_name ]].nationality.unique()

array(['Uruguay', 'Spain', 'Colombia', 'Argentina', 'Switzerland',
       'Turkey', 'Peru', 'Venezuela', 'France', 'Paraguay', 'Germany',
       'Mexico', 'Austria', 'Poland', 'Chile', 'Armenia', 'Nigeria',
       'Denmark', 'Honduras', 'Hungary', 'Egypt', 'England', 'Morocco',
       'Slovakia', 'Bolivia', 'Italy', 'United States', 'Panama',
       'Dominican Republic', 'Brazil', 'Andorra', 'Canada',
       'Republic of Ireland', 'Netherlands', 'Curacao', 'Norway',
       'Sweden', 'Saudi Arabia', 'Guatemala', 'Belgium', 'Ecuador',
       'Cuba', 'Portugal', 'Costa Rica', 'Guinea', 'Equatorial Guinea',
       'Croatia', 'Algeria'], dtype=object)

In [59]:
# Conditional list comprehensions
#
# Find average height for all players from North America

NA = ['United States', 'Canada', "Mexico"]

american_heights=[xx.height_cm for xx in df.itertuples() if xx.nationality in NA]
#--------------------------------------------------------^^^^^^^^^^^^^

In [61]:
len(american_heights), len(df)

(751, 17954)

In [66]:
mean_american_heights_inches = np.mean(american_heights) * 0.393701
mean_american_heights_inches

68.6445111026365

In [76]:
feet = mean_american_heights_inches//12
feet

leftover = mean_american_heights_inches - (12*feet)

leftover.round(1)

print(f"Average height of N. American players is {int(feet)} feet, {leftover.round(1)} inches.")

Average height of N. American players is 5 feet, 8.6 inches.

In [82]:
# With if and else, the syntax is backwards :(

df['LuckyOrGood'] = ['Lucky' if xx.wage_euro>50000 else "Good" for xx in df.itertuples()]

In [83]:
df

,name,full_name,birth_date,age,height_cm,weight_kgs,positions,nationality,overall_rating,potential,...,interceptions,positioning,vision,penalties,composure,marking,standing_tackle,sliding_tackle,CorrectAge,LuckyOrGood
0,L. Messi,Lionel Andrés Messi Cuccittini,6/24/1987,31,170.18,72.1,"CF,RW,ST",Argentina,94,94,...,22,94,94,75,96,33,28,26,36,Lucky
1,C. Eriksen,Christian Dannemann Eriksen,2/14/1992,27,154.94,76.2,"CAM,RM,CM",Denmark,88,89,...,56,84,91,67,88,59,57,22,32,Lucky
2,P. Pogba,Paul Pogba,3/15/1993,25,190.50,83.9,"CM,CAM",France,88,91,...,64,82,88,82,87,63,67,67,31,Lucky
3,L. Insigne,Lorenzo Insigne,6/4/1991,27,162.56,59.0,"LW,ST",Italy,88,88,...,26,83,87,61,83,51,24,22,32,Lucky
4,K. Koulibaly,Kalidou Koulibaly,6/20/1991,27,187.96,88.9,CB,Senegal,88,91,...,88,24,49,33,80,91,88,87,32,Lucky
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17949,R. McKenzie,Rory McKenzie,10/7/1993,25,175.26,74.8,"RM,CAM,CM",Scotland,67,70,...,41,60,64,63,56,40,20,18,30,Good
17950,M. Sipľak,Michal Sipľak,2/2/1996,23,182.88,79.8,LB,Slovakia,59,67,...,55,42,39,32,52,53,64,60,28,Good
17951,J. Bekkema,Jan Bekkema,4/9/1996,22,185.42,89.8,GK,Netherlands,59,67,...,10,5,25,16,47,9,12,13,27,Good
17952,A. Al Yami,Abdulrahman Al Yami,6/19/1997,21,175.26,64.9,"ST,LM",Saudi Arabia,59,71,...,15,54,52,50,53,16,18,17,26,Good
17953,Júnior Brumado,José Francisco dos Santos Júnior,5/15/1999,19,190.50,79.8,ST,Brazil,59,75,...,20,53,49,52,45,23,31,21,24,Good

In [87]:
# Make a dummy variable for "Name starts with a J"
df['JName']=df.full_name.str[0]=='J'
df

,name,full_name,birth_date,age,height_cm,weight_kgs,positions,nationality,overall_rating,potential,...,positioning,vision,penalties,composure,marking,standing_tackle,sliding_tackle,CorrectAge,LuckyOrGood,JName
0,L. Messi,Lionel Andrés Messi Cuccittini,6/24/1987,31,170.18,72.1,"CF,RW,ST",Argentina,94,94,...,94,94,75,96,33,28,26,36,Lucky,False
1,C. Eriksen,Christian Dannemann Eriksen,2/14/1992,27,154.94,76.2,"CAM,RM,CM",Denmark,88,89,...,84,91,67,88,59,57,22,32,Lucky,False
2,P. Pogba,Paul Pogba,3/15/1993,25,190.50,83.9,"CM,CAM",France,88,91,...,82,88,82,87,63,67,67,31,Lucky,False
3,L. Insigne,Lorenzo Insigne,6/4/1991,27,162.56,59.0,"LW,ST",Italy,88,88,...,83,87,61,83,51,24,22,32,Lucky,False
4,K. Koulibaly,Kalidou Koulibaly,6/20/1991,27,187.96,88.9,CB,Senegal,88,91,...,24,49,33,80,91,88,87,32,Lucky,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17949,R. McKenzie,Rory McKenzie,10/7/1993,25,175.26,74.8,"RM,CAM,CM",Scotland,67,70,...,60,64,63,56,40,20,18,30,Good,False
17950,M. Sipľak,Michal Sipľak,2/2/1996,23,182.88,79.8,LB,Slovakia,59,67,...,42,39,32,52,53,64,60,28,Good,False
17951,J. Bekkema,Jan Bekkema,4/9/1996,22,185.42,89.8,GK,Netherlands,59,67,...,5,25,16,47,9,12,13,27,Good,True
17952,A. Al Yami,Abdulrahman Al Yami,6/19/1997,21,175.26,64.9,"ST,LM",Saudi Arabia,59,71,...,54,52,50,53,16,18,17,26,Good,False
17953,Júnior Brumado,José Francisco dos Santos Júnior,5/15/1999,19,190.50,79.8,ST,Brazil,59,75,...,53,49,52,45,23,31,21,24,Good,True

In [119]:
# Complicated Dummy Variable using a function
# Is a goal keeper 
# Player is not from Russia
# Player salary < 1000 euros

def gk_plus(df_record):
    meets_requirements=False

    if "GK" in df_record.positions:
        if df_record.nationality != 'Russia':
            if float(df_record.wage_euro)<=1000:
                meets_requirements=True
    
    return meets_requirements

In [120]:
MR = [gk_plus(xx) for xx in df.itertuples()]

In [121]:
df.loc[MR]

,name,full_name,birth_date,age,height_cm,weight_kgs,positions,nationality,overall_rating,potential,...,positioning,vision,penalties,composure,marking,standing_tackle,sliding_tackle,CorrectAge,LuckyOrGood,JName
287,A. Pyatov,Andriy Pyatov,6/28/1984,34,190.50,89.8,GK,Ukraine,77,77,...,14,63,15,52,12,9,10,39,Good,False
320,José Sá,José Pedro Malheiro de Sá,1/17/1993,26,193.04,84.8,GK,Portugal,77,82,...,17,55,11,32,14,19,15,31,Good,True
589,R. Rey,Rodrigo Rey,3/8/1991,28,190.50,76.2,GK,Argentina,74,77,...,14,53,23,62,18,18,13,33,Good,False
771,S. Dioudis,Sokratis Dioudis,2/3/1993,26,187.96,74.8,GK,Greece,73,76,...,13,34,28,63,17,20,11,31,Good,False
1524,B. Khuzwayo,Brilliant Khuzwayo,2/9/1990,29,190.50,74.8,GK,South Africa,70,72,...,13,43,22,34,17,9,8,34,Good,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16473,M. Kozáčik,Matúš Kozáčik,12/27/1983,35,193.04,91.2,GK,Slovakia,74,74,...,12,49,23,63,18,9,9,40,Good,False
16474,D. Livaković,Dominik Livaković,9/2/1995,23,187.96,78.9,GK,Croatia,74,81,...,11,60,15,25,17,20,21,28,Good,False
16970,A. Paschalakis,Alexandros Paschalakis,7/28/1989,29,198.12,92.1,GK,Greece,76,77,...,4,45,30,59,19,15,14,34,Good,False
17062,D. Boyko,Denys Boyko,1/29/1988,31,193.04,82.1,GK,Ukraine,76,76,...,9,42,15,64,19,12,11,36,Good,False
17951,J. Bekkema,Jan Bekkema,4/9/1996,22,185.42,89.8,GK,Netherlands,59,67,...,5,25,16,47,9,12,13,27,Good,True

In [124]:
# Tangent--is anyone a GK *and* something else?
sum([("GK" in xx)&(len(xx)>2) for xx in df.positions])

0